html {
    position: relative;
    min-height: 100%;
    /* background-color: #beccc2; */

}

body {
    /* Margin bottom by footer height */
    padding-bottom: 50px;

}

img {
    max-width: 100%;
  }

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #e3e3e3;
}

footer p {
    padding: 10px 10px;
    margin-bottom: 0px;
}

.img-profile{
    width: 200px;
}

/* .container-fluid{
    background-color: #beccc2;

} */