{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>About Us</h2>
    <p>Receive honest feedback, opinions and memories from your friends!</p>
<p>We have created Imagify.me specifically for you, with the aim to help you recognize your strengths and become a better you with every day.</p>
<p>There is a twist &ndash; You will receive feedback only in the form of image. Be it comparison to your personality with some celebrity or some sweet memory of yours, everything will be imagified</p>
<p>The feedback you receive is always sincere, because it's anonymous. If someone has a secret crush on you or thinks that you're awesome, lazy or whatever else, you'll find it out on Imagify.me. 😉 We're all good at something, and it's really important to know and hear from somebody else from time to time.</p>
<p>When you give feedback to others, keep it honest yet polite. Any person is more likely to pay attention to your message if it's positive (or constructive, if it's criticism). Our own golden rule is: if it's too rude to say in real life, it's no good to write it anonymously. The topic is totally up to you - from gossip, looks and personality to experiences and dreams.</p>
<p>In the golden age of dank wholesome memes being mean is so NOT sexy. Don&rsquo;t be a bully, because that shows how weak you are. Spread honesty &amp; love and we at Imagify.me will help you in the best way we can!</p>
    <br>
</div>
{% endblock %}