{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
- Login
{% endblock %}

{% block content %}
<script>
    function disableSubmit() {
     document.getElementById("submit").disabled = true;
    }
   
     function activateButton(element) {
   
         if(element.checked) {
           document.getElementById("submit").disabled = false;
          }
          else  {
           document.getElementById("submit").disabled = true;
         }
   
     }
   </script>
   <body onload="disableSubmit()">
<div class="row">
    <div class="col col-sm-12 col-md-4 col-md-offset-4">
        {% if request.user.is_authenticated %}
        <h2>You are already logged in, please go to the home page</h2>
        <p><a href="{% url 'core:home' %}" class="btn btn-warning">Home Page</a></p>
        {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                {% bootstrap_messages %}
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <br>
                    
                    <br>
                    
                    {% buttons %}
                    <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I Agree with <a href="terms">Terms & Conditions </a>
<br><br>
  <input type="submit" name="submit" id="submit" class="btn btn-primary">
                
                    {% endbuttons %}
                </form>
                <br>
                
                <p><b>New here?</b> <a href="">Sign up</a> </p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</body>
{% endblock %}