{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
- Registrar-se
{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-sm-12 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Registration Form</h3>
            </div>
            {% csrf_token %} {% if messages %}
                <div class="alert alert-danger">
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            <div class="panel-body">
                {% bootstrap_messages %}
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <br>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Register {% bootstrap_icon "send" %}
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}